*.iml
*.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.gitattributes
*.gradle
/.gitignore
*.bat
.idea
/app/build
/app/src/androidTest
/app/src/test
